/* make up tutorials */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
    justify-content: center;
}
body{
    width: 100%;
}
@font-face {
    font-family: Quicksand-Light;
    src: url(../Assest/Font/Quicksand-Light.ttf);
}
@font-face {
    font-family: Quicksand-Bold;
    src: url(../Assest/Font/Quicksand-Bold.ttf);
}

/* header */
.header-container{
    height: 362px;
    background-color: #ffc6c7 ;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 55px 120px;
    margin-top: 100px;
    width: 100%;
}

@font-face {
    font-family: Sacramento;
    src: url(../Assest/Font/Sacramento-Regular.ttf);
}
.header-content{
    grid-column: span 8;
    padding: 0 50px 0 0;
}
.header-container .header-content h1{
    font-family: Sacramento;
    color: #FB797F;
    font-size: 70px;
    line-height: 85px;
    font-weight: 400;
    padding: 10px 0;
}
.header-container .header-content p{
    font-family: Quicksand-Light;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    padding: 20px 50px 20px 0;
}
.header-container input[type="text"]{
    width: 488px;
    height: 48px;
    border-radius: 8px;
    border: none;
    box-shadow: 0 0 0.2rem #FB797F;
}
.header-container .header-content input[type="submit"]{
    width: 184px;
    height: 48px;
    border-radius: 5px;
    background-color: #FB797F;
    color: white;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}
.header-container .header-content input[placeholder]{
    padding-left: 20px;
    font-weight: 200;
    font-size: 16px;
    line-height: 20px;
    color: gray;
}
.header-container input[type="text"],.header-content input[type="submit"]{
    display: inline-block;
}
.header-container .header-img{
    grid-column: span 4;
    position: relative;
}
.header-img, .inner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner{
    position: absolute;
}
.img-opacity{
    position: relative;
    top: 40px;
    right: 40px;
}

/* Tutorial list */
.tutorial-list-container{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 100px 0 0 0 ;
}
.tutorial-list-filter{
    font-family: Quicksand-Light;
}
.tutorial-list-filter span{
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
}

/* .checkbox-container{
    font-size: 16px;
    font-weight: 500;
    padding-left: 30px;
    margin-bottom: 8px;
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.checkbox-container input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkbox-container .checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 8px;
    border: solid 0.2px gray;
}
.checkbox-container:hover input ~ .checkmark{
    background-color: #ffc6c7;
}
.checkbox-container input:checked ~ .checkmark{
    background-color: #FB797F;
}
.checkmark:after{
    content: "";
    position: absolute;
    display: none;
}
.checkbox-container input:checked ~ .checkmark:after{
    display: block;
}
.checkbox-container .checkmark:after{
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0 ;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* make up style (filter) */
/* .checkbox-makeupstyle{
    font-family: Quicksand-Light;
    font-size: 16px;
    font-weight: 500;
    padding-left: 30px;
    margin-bottom: 8px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.checkbox-makeupstyle input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkbox-makeupstyle .checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 8px;
    border: solid 0.2px gray;
}
.checkbox-make.checkbox-makeupstyle input ~ .checkmark{
    background-color: #ffc6c7;
}
.checkbox-makeupstyle input:checked ~ .checkmark{
    background-color: #FB797F;
}
.checkmark:after{
    content: "";
    position: absolute;
    display: none;
}
.checkbox-makeupstyle input:checked ~ .checkmark:after{
    display: inline-block;
}
.checkbox-makeupstyle .checkmark:after{
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0 ;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.filter input[type="submit-apply"]{
    font-family: Quicksand-Bold;
    width: 155px;
    height: 46px;
    flex-shrink: 0;
    background-color: #FB797F;
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    border-radius: 8px;
    border: none;
} */ 

.tutorial-video{
    background-color: black;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    width: 1280px;
    /* text-align: center;
    justify-content: center; */
}
.video-item, .inner-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-item{
    /* position: relative; */
    grid-column: span 4;
    
}
.inner-img{
    /* position: absolute; */
}
.img-video{
    position: relative;
}
.icon-heart{
    width: 35px;
    height: 35px;
    position: relative;
    background-color: black;
    opacity: 0.4;
    padding: 5px;
    border-radius: 40%;
    top: -100px;
    left: 165px;
}
.icon-time{
    width: 45px;
    height: 20px;
    padding: 1.5px 3px;
    position: relative;
    background-color: black;
    opacity: 0.5;
    border-radius: 30%;
    top: 100px;
    left: 165px;
}


/* make up tutorial video */

ul.bread-crumb{
    padding: 30px 30px;
    list-style: none;
    
}
ul.bread-crumb li{
    display: inline;
    font-size: 16px;
    padding: 3px;
}
ul.bread-crumb li+li:before{
    content: " >\00a0";
}
ul.bread-crumb li a{
    text-decoration: none;
    font-family: Quicksand-Light;
    font-weight: 900;
    color: black;
}




